* {
    font-family: sans-serif;
}

:root {
    --my-backgroundcolor: #edecec;
    --my-backgroundcolor2: rgba(30, 23, 47, 255);
}

body {
    margin: 0 auto;
    background-color: var(--my-backgroundcolor);
    height: 100vh;
    width: 100%;
}

.top-nav {
    background-color: rgba(30, 23, 47, 255);
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.burguer {
    display: none;
}

.top-nav img {
    height: 71px;
    
}

ul li {
    display: flex;
    list-style: none;
    display: inline;

}

ul li a {
    color: gray;
    margin-left: 20px;
    text-decoration: none;

}

a:hover {
    color: white;
}

ul li a button {
    color: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background: linear-gradient(to right, rgb(172, 67, 221) 5%, rgb(33, 83, 248));
}

.principal1 {
    display: flex;
    width: 100%;
    height: 600px;
}

.product {
    display: flex;
    background-color: #2e2550;
    padding: 0px 10px;
    width: 52%;
    height: 600px;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.titulo {
    width: 400px;
    margin-top: 40px;
}

.titulo h1 {
    color: white;
    font-size: 70px;
}

.titulo p {
    color: white;
}

.telefono {
    display: flex;
    width: 48%;
    height: 600px;
    background-size: cover;
    background: linear-gradient(#2e25505e, #2e25505e),
        url(/images/fondo1.jfif);

}

.botones1 {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.582);
    border-radius: 5px;
    height: 50px;
    width: 250px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.b1 {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    color: rgb(240, 86, 111);
}

.b2 {
    height: 40px;
    width: 110px;
    color: white;
    border-radius: 5px;
    border-color: white;
    background-color: #2e2550;
}

.telefono {
    display: flex;
    align-items: end;
    padding-left: 100px;

}

.telefono img {
    width: 200px;
    height: 400px;
    margin-bottom: 60px;
}

.top1 {
    display: flex;
}

.titulo2 {
    display: flex;
    height: 110px;
    width: 100%;
    font-size: 25px;
    color: rgba(244, 20, 134, 255);
    background-color: var(--my-backgroundcolor);
    justify-content: center;

}

.principal2 {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--my-backgroundcolor);

}

.pc {
    display: flex;
    justify-content: flex-end;
    height: 280px;
    width: 400px;

}

.pc img {
    height: 250px;
    width: 400px;

}

.texto2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 280px;
    width: 370px;
}

.chulos {
    display: flex;
    flex-direction: column;
    height: 100px;


}

.chulos p {
    display: flex;
    margin-top: 0px;
    align-items: center;
}

.chulos p img {
    margin-top: 5px;
}

.texto2 h1 {
    color: rgba(244, 20, 134, 255);
    margin-top: 0px;
    margin-bottom: 0px;

}

.texto2 p {
    color: gray;
    margin-bottom: 0px;

}

.texto2 h2 {
    color: rgba(244, 20, 134, 255);
    margin-bottom: 0px;
}

.texto2 ul {
    margin: -35px;
}

.texto2 ul li {
    list-style: none;
    width: 250px;
}

.sec3{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 110vh;
    background-color: rgb(40, 21, 67);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.top{
    
    height: 20vh;
}
.plans{
    font-size: 45px;
    margin: 0px 0px 30px 0px;
}
.texttop{
    color: rgb(209, 209, 209);
}

.text3 {
    width: 80%;
    height: 100px;
}

.text3 h1 {
    font-size: 50px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.ofertas {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;

}

.precio{
    color: black;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-color: var(--my-backgroundcolor);
    width: 40vh;
    height: 50px;

}



.peque{
    font-size: 15px;
    margin-left: 5px;
    
}
.logoof {
    width: 50px;
    height: 50px;
    
}

.tituloof1{
    font-size: 15px;
}

.oferta1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 40vh;
    border-radius: 5px;
    background-color: white;
}
.contenido1{
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50px;
    color: black;
    text-align: center;
}

.oferta1 li{
    text-decoration: none;
    display: inline;
    margin-left: 10px;
    text-align: center;
    text-align: justify;
    float: left;
    
}
.icon{
    width: 20px;
    height: 20px;
    text-align: justify;
}

.oferta1 h2{
    color: rgb(240, 86, 111);
}

.txt1{
    color: black;
    margin-top: 70px;
    text-align: center;
}

.boton1{
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    background: linear-gradient(to right, rgb(172, 67, 221) 100%, rgb(33, 83, 248));
}

.oferta2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 40vh;
    margin: 0px 50px;
    border-radius: 5px;
    background-color: white;
}

.oferta2 h2{
    color: #2e2550;
}

.contenido2{
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50px;
    color: black;
    text-align: center;
}

.oferta2 li{
    text-decoration: none;
    display: inline;
    margin-left: 10px;
    text-align: center;
    text-align: justify;
    float: left;
    
}

.txt1{
    color: black;
    margin-top: 70px;
    text-align: center;
}

.boton2{
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    background-color: #2e2550;
}

.oferta3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    width: 40vh;
    border-radius: 5px;
    background-color: white;
}

.contenido3{
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 50px;
    color: black;
    text-align: center;
}

.oferta3 li{
    text-decoration: none;
    display: inline;
    margin-left: 10px;
    text-align: center;
    text-align: justify;
    float: left;
    
}

.boton3{
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    background-color: #2e2550;
}


.oferta3 h2{
    color: #2e2550;
}


footer {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: 130px;
}

.color {
    margin: 0 auto;
    width: 40px;
    color: rgba(244, 20, 134, 255);
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}


@media screen and (max-width: 1240px) {


    .oferta1{
        height: 90vh;
        width: 50vh;
    }
    .oferta2{
        height: 90vh;
        width: 50vh;
    }
    .oferta3{
        height: 90vh;
        width: 50vh;
    }

    .precio{
        width: 50vh;
    }
   
    .sec3{
        height: 150vh;
    }

    .txt3{
        height: 100px;
        align-items: center;
    }


}

@media screen and (max-width: 992px) {

  
    
    .texttop{
        display: none;
    }

    .top{
        width: 85%;
    }

    .burger {
        display: none;
    }

    .sec3{
        height: 130vh;
        justify-content: space-around;
    }

    .txt{
        margin-left: 0;
        width: 500px;
    }

}

@media screen and (max-width: 768px) {

    

    .telefono {
        display: none;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: linear-gradient(#2e25505e, #2e25505e),
            url(/images/fondo1.jfif);

    }

    .titulo {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .b2 {
        
        height: 40px;
        width: 120px;
        border-radius: 5px;
        border: none;
        color: rgb(240, 86, 111);
        background-color: var(--my-backgroundcolor);
    }

    .botones1 {
        border-color: var(--my-backgroundcolor)
    }

    .principal2 {
        display: flex;
        height: 70vh;
    }

    .pc {
        display: none;
    }

    .texto2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
    }

    .txt{
        margin-left: 0;
        width: 500px;
    }
   

    
}

@media screen and (max-width: 690px){

   

    .top-nav img {
        display: none;
    }

    .top-nav{
        display: flex;
        justify-content: center;
    }

    .sec3{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300vh;
    }

    .ofertas{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .txt{
        margin-left: 0;
        width: 500px;
    }

}

@media screen and (max-width: 470px){


    .menu{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .menu button{
        display: none;
    }

    .principal2{
        height: 60vh;
    }

    .sec3{
        height: 270vh;
    }

    .oferta1{
        height: 55vh;
        width: 43vh;

    }
    .oferta2{
        height: 55vh;
        width: 43vh;

    }
    .oferta3{
        height: 55vh;
        width: 43vh;

    }

    .precio{
        width: 43vh;
    }

    .txt1{
        width: 230px;
    }


}
